
<br />
<br />
<div class="container" style="background-position: center;">    
    <form [formGroup]="creditCardForm" (ngSubmit)="onSubmit()">
    <div class="row">
        <div class="col-2">
            <label for="name">Person Name : </label>
        </div>
        <div class="col-4">
            <input id="name" type="text" formControlName="name" class="form-control-sm" style="width: 250px;" placeholder="person full name" #searchBox>
            <button type="button" (click)="searchUser(searchBox.value)">Search</button>
        </div>
        <div class="col-2">
            <label for="number">Zipcode : </label>
        </div>
        <div class="col-4">
            <input id="zipcode" type="text" formControlName="zipcode" class="form-control-sm" style="width: 150px;" placeholder="12345">
        </div>
    </div>
    
    <div class="row">
        <div class="col-2">
            <label for="number">Credit Card Number : </label>
        </div>
        <div class="col-4">
            <input id="number" type="text" formControlName="number" placeholder="xxxx-xxxx-xxxx-xxxx" class="form-control-sm" style="width: 300px;">
        </div>
        <div class="col-2">
            <label for="cvv">CVV : </label>
        </div>
        <div class="col-4">
            <input id="cvv" type="text" formControlName="cvv" class="form-control-sm" style="width: 150px;">
        </div>
    </div>   

    <div class="row">
        <div class="col-2">
            <label for="number">Expiry Month : </label>
        </div>
        <div class="col-4">
            <input id="month" type="text" formControlName="month" class="form-control-sm" style="width: 150px;">
        </div>
        <div class="col-2">
            <label for="year">Expiry Year : </label>
        </div>
        <div class="col-4">
            <input id="year" type="text" formControlName="year" class="form-control-sm" style="width: 150px;">
        </div>        
    </div>    

    <div class="row">
        <div class="col-12">
            <button type="submit" [disabled]="!creditCardForm.valid">Submit</button>
        </div>        
    </div>    
    </form>
</div>



