
<div style="position: relative; display: flex; justify-content: center; align-items: center; width: 100%; max-width: 400px;">
    <img src="amxCC.jpg" style="width: 100%; height: auto;">
    <div style="position: absolute; color: white; font-size: 24px; font-weight: bold; text-align: center;">
        Overlay Text
    </div>
</div>

<div style="display: grid; position: relative; width: 100%; max-width: 400px;">
    <img src="amxCC.jpg" style="grid-area: 1/1; width: 100%; height: auto;">
    <div style="grid-area: 1/1; place-self: center ; color: white; font-size: 24px; font-weight: bold; text-align: center;">
      Overlay Text
    </div>
</div>

<div class="bg-image" style="background-image: url('/amxCC.jpg'); height: 350px; background-repeat: no-repeat; background-position: center;">
    <div class="row h-25"></div>
    <div class="row h-25"></div>
    <div class="row h-25">
        <div class = "col text-center">55258424545454564132545</div>
    </div>
    <div class="row h-25">
        <div class = "col text-center"> MR X</div>
    </div>
</div>


<div class="container" style="background-image: url('/amxCC.jpg'); height: 350px; background-repeat: no-repeat; background-position: center;">    
    <div class="row">
        <div class="col-12">
        <div style="color: white; font-size: 24px; font-weight: bold; text-align: center;">
            CreditCard User
        </div>        
    </div>        
    </div>
    <div class="row">
        <div class="col-12">
        <div style="color: white; font-size: 24px; font-weight: bold; text-align: center;">
            CreditCard User
        </div>        
    </div>        
    </div>
    <div class="row">
        <div class="col-12">
        <div style="color: white; font-size: 24px; font-weight: bold; text-align: center;">
            CreditCard User
        </div>        
    </div>        
    </div>
    <div class="row">
        <div class="col-12">
        <div style="color: white; font-size: 24px; font-weight: bold; text-align: center;">
            CreditCard User
        </div>        
    </div>        
    </div>
    <div class="row">
        <div class="col-12">
        <div style="color: white; font-size: 24px; font-weight: bold; text-align: center;">
            CreditCard User
        </div>        
    </div>        
    </div>
    <div class="row">
        <div class="col-12">
        <div style="color: white; font-size: 24px; font-weight: bold; text-align: center;">
            CreditCard User
        </div>        
        </div>        
    </div>
    <div class="row">       
        <div class="col-12">
        <div style="color: white; font-size: 24px; font-weight: bold; text-align: center;">
            CreditCard User
        </div>        
        </div>        
    </div>        
    <div class="row">
        <div class="col-12">
        <div style="color: white; font-size: 24px; font-weight: bold; text-align: center;"> MR X</div>
        </div>
    </div>        
    <div class="row">
        <div class="col-12">
        <div style="color: white; font-size: 24px; font-weight: bold; text-align: center;">
            CreditCard User
        </div>    
        </div>            
    </div>
</div>

<div class="container">
    <app-credit-card-form></app-credit-card-form>
</div>

<div class="text-center">ABC</div>
<div class="text-center">
    <p><b>Reactive Form below Credit Card Image for </b></p>
    <p><b>UserName, CreditCard Number, Active Date, Code </b></p>
    <p><b>Depending on Credit Card Type, image should change </b></p>
    <p><b>While user types these info, it should reflect on the image itself </b></p>
    <p><b>Submit button down below </b></p>
    <p><b>Should call DB service to save info and service should call DB Api to send to DB </b></p>
    <p><b>Unit tests for the service, class and component </b></p>
</div>
<div class="text-center"><b><i>Design web api to save info in DB and be able to call from Angular</i></b></div>

<div *ngFor="let cc of creditCardTypes">
    <div id = {{cc.id}}>
        <li>{{cc.id}}</li>
        <li>{{cc.name}}</li>
        <li>{{cc.bin}}</li>
    </div>
</div>


