
<div class="row">        
  <div class="col bg-success"> 
    <div class="container "> 
      <h1>Hello, {{ title }}</h1>      
    </div>    
  </div>
  <div class="col bg-info"> 
    <div class="container">       
      <p>Congratulations! Your app is running. 🎉</p>
    </div>    
  </div>    
</div>
<div class="row">     
  <div class="col bg-dark">
    <div class="container">
      <p>ABC</p>
    </div>
  </div>
</div>
<div class="row">     
  <div class="col">
    <div class="container">
      <app-display-cc></app-display-cc>
    </div>
  </div>
</div>
  


<router-outlet />
